---
title: Le Wagon - Middleman
---

<div class="text-center">
  <%= image_tag "logo.png" %>
  <h1>
    Congrats 🙌!
  </h1>
  <p>
    Le Wagon's middleman template is now set up. Check <%= link_to "Middleman documentation", "https://middlemanapp.com/" %>.
  </p>
</div>
